* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    position: relative;
    text-align: center;
}

.menu-btn {
    background-color: #333;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.menu-btn:hover{
    background-color: #444;
}

.menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    padding: 10px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #444;
}

.menu.active {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu a{
    width: auto;
}